.container {
  display: grid;
  gap: 1.2rem;
  overflow: auto;
  padding-inline-end: 1rem;
}

.row {
  display: grid;
  grid-template-areas: "label toggle";
  grid-template-columns: 1fr 35px;
}

.label-wrapper {
  display: grid;
  gap: 4px;
}

.label {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
}
